.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.border-left-warning {
    border-left: .25rem solid #ffc107 !important;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b!important;
}


.text-gray-300 {
    color: #dddfeb!important;
}