.radio-container {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    float: left;
    border:1px solid #060062;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 21px;
    width: 21px; */
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
    float: left;

  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
   border:1px solid #060062;

  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #060062;
    border:1px solid #060062;

  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
       /* top: 6px;
      left: 6px;
      width: 8px;
      height: 8px; */
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }

  .radio-label{
    left: -10px;
    top: -5px;
    position: relative;
  }