/* i{
    left: -25px;
    position: relative;
}
.form-control{
    position: absolute;
} */

.search-icon { position: relative; }
.search-icon .fa { 
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
}