<div class="form-group">
  <label class="control-label">
    {{label}} <span class="required-star" *ngIf="required"> *</span> :
    <ng-container *ngIf="modelRef.invalid && modelRef.touched">
      <span class="help-block error-block" *ngIf="model!=null && invalidMsg == undefined"> &nbsp; Invalid</span>
      <span class="help-block error-block" *ngIf="model!=null && invalidMsg != undefined"> &nbsp; {{invalidMsg}}</span>
      <span class="help-block error-block" *ngIf="model==null">&nbsp; Required</span>
    </ng-container>
  </label>
  <span class="help-block warning-block" *ngIf="model!=null && lengthErrorMessage != undefined"> &nbsp;
    {{lengthErrorMessage}}</span>
  <!-- <input type="text" class="form-control" [id]="fieldId" [name]="fieldId" [placeholder]="label" [(ngModel)]="model"
    (ngModelChange)="change($event)" [required]="required" [pattern]="pattern" #modelRef="ngModel" (keypress)="(maxLength == undefined || $event.target.value.length < maxLength) ? true : false"
    ChildFieldControl [disabled]="isDisabled" (blur)="onBlur()"> -->
  <div>
    <div class="search-icon">
      <input [type]="password" class="form-control" [id]="fieldId" [name]="fieldId" [placeholder]="label" [(ngModel)]="model"
        (ngModelChange)="change($event)" [required]="required" [pattern]="pattern" #modelRef="ngModel" (keypress)="(maxLength == undefined || $event.target.value.length < maxLength) ? true : false"
        ChildFieldControl [disabled]="isDisabled">
      <i [class]="show ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="onClick()"></i>
    </div>
  </div>
</div>