/* body {
    font-size: smaller;
} */

.bold {
    font-weight: bold;
}

.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.border-left-warning {
    border-left: .25rem solid #ffc107 !important;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b!important;
}

.btn-primary, .btn-warning {
    color: #fff !important;
}

.action-cell {
    text-align: center;
    max-width: 50px !important;
}

.circle {
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    width: 120px;
    height: 120px;
    padding-top: 30px;
    font-size: 42px;
    color: #381653;
}

.invalid-message {
    color: #c22929;
    font-weight: normal;
}

.card-header-action {
    margin-left: 15px;
    cursor: pointer;
    color: #007bff;
}

.dropdown-toggle::after {
    display: none;
}

.loader {
    margin-left: 45%;
    margin-top: 13%;
}

.loader-container {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 50%;
    left: 50%;
}

.loader-icon {
    font-size: 50px;
}

.nav-link.active {
    background-color: #060062 !important;
    color: #fff !important;
}

.page-item.active .page-link {
    background-color: #060062;
    border-color: #07024b;
}

.pointer {
    cursor: pointer;
}

.container {
    max-width: 100% !important;
}

.required-star {
    color: #c70000
}

.sidebar {
    height: 100%;
}

.tdOption {
    text-align: center;
}

.toast {
    max-width: 100%;
}

.text-gray-300 {
    color: #dddfeb!important;
}

.toast-container {
    width: 100% !important;
}

.theme-background {
    background-color: #060062 !important;
}

.theme-background>.nav-link {
    color: #fff;
}

.theme-color {
    color: #060062 !important;
}

.uppy-Dashboard-dropFilesHereHint {
    display: none;
}

.uppy-Dashboard-poweredBy {
    display: none;
}

.btn-default {
    color: #fff !important;
    background-color: #060062 !important;
}

i::before {
    padding-right: 5px !important;
}